    <link rel="stylesheet" href="./node_modules/nes.css/css/nes.min.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />

<link rel="stylesheet" href="/css/home.css">

<section id="login" class="tavern row justify-content-evenly">
        <section id="log-container" class="col-3 home-box">
                <img id= "log-background" src="../assets/log-banner-pixel.png" alt="pixel-banner">
                <h1 class="log-header">JOURNAL</h1>
                <section id="logs">
                        <ul id="log-items">
                                <li>{{userAchievements.text}}</li>
                        </ul>
                </section>
        </section>
        <section class="home-box col-8 blur nes-container">
                <section id="home-container" class="row d-flex justify-content-center">
                        <div class="col-5 align-items-center justify-content-center">
                                <img id="character-sprite" src="/assets/character/main-character.png" alt="Your Character!">
                        </div>
                    <div id="character-traits" class="col-5 row d-flex overflow-auto nes-container is-rounded">
                        <p class="red-text">Character Stats</p>


                        <div id="lvl-container" class="stats nes-container is-rounded" style="background-color:white;">
                            <p id="lvlDisplay" class="green-text">LEVEL: {{userStats.level}}</p>
                        </div>

                        <div id="exp-container" class="stats nes-container is-rounded" style="background-color:white;">
                            <p id="expDisplay" class="green-text">EXP: {{userStats.exp}}</p>
                        </div>

                        <div id="hp-container" class="stats nes-container is-rounded" style="background-color:white;">
                            <p id="hpDisplay" class="red-text">HP: {{userStats.health}}</p>
                        </div>

                        <div id= "gold-container" class="stats nes-container is-rounded" style="background-color:white;">
                            <p id="goldDisplay" class="yellow-text">GOLD: {{userStats.gold}}</p>
                        </div>

                        <div id="spellpoint-container" class="stats nes-container is-rounded" style="background-color:white;">
                            <p id="spellpointDisplay" class="blue-text">SPELL POINTS: {{userStats.gold}}</p>
                        </div>

                        <div id="magic-container" class="stats nes-container is-rounded" style="background-color:white;">
                            <p id="magicDisplay">MAGIC: {{userStats.magic}}</p>
                        </div>

                        <div id="resistance-container" class="stats nes-container is-rounded" style="background-color:white;">
                            <p id="resistanceDisplay">RESISTANCE: {{userStats.resistance}}</p>
                        </div>

                        <div id="def-container" class="stats nes-container is-rounded" style="background-color:white;">
                            <p id="defDisplay">DEFENSE: {{userStats.defense}}</p>
                        </div>

                        <div id="acc-container" class="stats nes-container is-rounded" style="background-color:white;">
                            <p id="accDisplay">ACCURACY: {{userStats.accuracy}}</p>
                        </div>

                        <div id="luck-container" class="stats nes-container is-rounded" style="background-color:white;">
                            <p id="luckDisplay">LUCK: {{userStats.luck}}</p>
                        </div>

                        <div id="constitution-container" class="stats nes-container is-rounded" style="background-color:white;">
                            <p id="constDisplay">CONSTITUTION: {{userStats.constitution}}</p>
                        </div>

                    </div>
                </section>
        </section>
                        <div class="d-flex justify-content-center">
                                <button id="game-btn" type="submit" class="btn btn-secondary nes-btn is-error">Start Your Adventure</button>
                        </div>
</section>

{{!-- <script src="/js/login.js"></script> --}}
<script src="/js/startGame.js"></script>